<div class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="menu" style="flex-wrap:nowrap;">
      <li class="menu__item" style="margin-right: 100px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24189.633858832814!2d-73.72506709229951!3d40.72452707713714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2625655814765%3A0x1480b7644cc53161!2sFloral%20Park%2C%20NY%2011001%2C%20USA!5e0!3m2!1sen!2stn!4v1670155915206!5m2!1sen!2stn" width="250" height="250" style="border-radius: 10px; margin-right: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </li>
      <li class="menu__item">
        <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <img src="/assets/photo/logomini.png" alt="" width="30px" height="40px">
          <span class="fs-5">&nbsp; &nbsp;  <b>Floral</b></span>
        </a>
        <h3>
          Who are we?
        </h3>
        <p>
          Floral is an Online Shopping store that sells all types of jewellery (rings, bracelets, earrings, necklaces, hair clips..)
        </p>
      </div>
    </li>
      <li class="menu__item"><div style="width: 330px;margin-left: -500px;">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><img src="/assets/photo/facebook.svg" alt="">Mohamed Mensi</li>
          <li class="mb-2"><img src="/assets/photo/user.svg" alt=""> tsnm___1004</li>
          <li class="mb-2"><img src="/assets/photo/mail.svg" alt=""> tasnime387@gmail.com <br> c8b609g2@gmail.com</li>
          <li class="mb-2"><img src="/assets/photo/phone-call.svg" alt=""> (+216)90.583.885</li>
        </ul>
      </div></li>
      <li class="menu__item"><div >
        <h5>Creators</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Mensi Mohamed</li>
          <li class="mb-2">Trabelsi Tasnim</li>
          <h5>Local Time</h5>
          <!-- <li class="mb-2">{{getlocaltime()}}</li> -->
        </ul>
      </div></li>
    </ul>
    <p>&copy;2022 Floral Store | All Rights Reserved</p>
</div>