<app-navbar></app-navbar>
<div style="margin-top: 70px;">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <img src="/assets/photo/jewellery3.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="/assets/photo/jewellery1.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<h2 class="hr-lines" style="cursor: pointer;font-family:Segoe Print;" routerLink="/hairClips" > HAIR CLIPS </h2>
<div class="card-group" style="display: flex;flex-wrap: wrap;justify-content: center;padding: 40px calc((100% - (255px * 6)) / 2);">
    <ng-container *ngFor="let i of lesProduits">
        <app-products [prd]="i" *ngIf="i.categorie=='HairClips'&&aux<3">{{add()}}</app-products>
    </ng-container>  
    {{reaux()}}  
</div>


<h2 class="hr-lines" style="font-family:Segoe Print;cursor: pointer;" routerLink="/earings"> EARINGS </h2>
<div class="card-group" style="display: flex;flex-wrap: wrap;justify-content: center;padding: 40px calc((100% - (255px * 6)) / 2);">
  <ng-container *ngFor="let i of lesProduits">
      <app-products [prd]="i" *ngIf="i.categorie=='earings'&&aux<6">{{add()}}</app-products>
  </ng-container>  
  {{reaux()}} 
</div>


<h2 class="hr-lines" style="font-family:Segoe Print;cursor: pointer;" routerLink="/neckless"> NECKLACES </h2>
<div class="card-group" style="display: flex;flex-wrap: wrap;justify-content: center;padding: 40px calc((100% - (255px * 6)) / 2);">
  <ng-container *ngFor="let i of lesProduits">
      <app-products [prd]="i" *ngIf="i.categorie=='necklace'&&aux<9">{{add()}}</app-products>
  </ng-container>  
  {{reaux()}}  
</div>


<h2 class="hr-lines" style="font-family:Segoe Print;cursor: pointer;" routerLink="/bracelet"> BRACELETS </h2>
<div class="card-group" style="display: flex;flex-wrap: wrap;justify-content: center;padding: 40px calc((100% - (255px * 6)) / 2);">
  <ng-container *ngFor="let i of lesProduits">
      <app-products [prd]="i" *ngIf="i.categorie=='bracelet'&&aux<12">{{add()}}</app-products>
  </ng-container>  
  {{reaux()}}  
</div>


<h2 class="hr-lines" style="font-family:Segoe Print;cursor: pointer;" routerLink="/rings"> RINGS </h2>
<div class="card-group" style="display: flex;flex-wrap: wrap;justify-content: center;padding: 40px calc((100% - (255px * 6)) / 2);">
  <ng-container *ngFor="let i of lesProduits">
      <app-products [prd]="i" *ngIf="i.categorie=='rings'&&aux<15">{{add()}}</app-products>
  </ng-container>  
  {{reaux()}}  
</div>